{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>
    <div class="titulo">
        <h2>Añadir nuevo producto</h2>
    </div>
    
    <div class ="formulario">
        <form action=" " method="POST">
            {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
            <div class="botones">
                <input type="submit" value="Enviar">
                <input type="reset" value="Borrar">
            </div>
            {{mensaje}}
        </form>    
    </div>
</main>


{% endblock %}