{% extends 'base.html' %}
{% load static %}
{% load cart_tag %}
{% block head %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'styles/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'styles/subasta.css' %}">
  <script src="https://js.braintreegateway.com/web/dropin/1.18.0/js/dropin.min.js"></script> 
{% endblock %}
{% block content %}
<main>
    <form autocomplete="off">
        {% if braintree_error %}
          <div class="alert alert-danger fade in">
              <button class="close" data-dismiss="alert">&times;</button>
              {{ braintree_error|safe }}
          </div>
        {% endif %}
        <div class="braintree-notifications"></div>
        <div id="braintree-dropin"></div>
        <input style="background-color: #0783ca" id="submit-button" class="btn btn-success btn-lg btn-block" type="button" value="Pay now!" />
      </form>
</main>

<script>
    var braintree_client_token = "{{ braintree_client_token }}";
    var button = document.querySelector('#submit-button');

    braintree.dropin.create({
      authorization: braintree_client_token,
      container: '#braintree-dropin',
      card: {
        cardholderName: {
            required: false
        }
      }
    }, function (createErr, instance) {
        button.addEventListener('click', function () {
            instance.requestPaymentMethod(function (err, payload) {
                $.ajax({
                    type: 'POST',
                    url: '{% url "payment" %}',
                    data: {'paymentMethodNonce': payload.nonce,
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                                'price':'{{ cart_total_amount|floatformat }}'}
                }).done(function (result) {
                    alert("Pago Realizado Con Exito!");
                    window.location.href = "https://feriavirtualmaipo.pythonanywhere.com/";
                });
            });
        });
    });
</script>
{% endblock %}