{% extends 'base.html' %}
{% load static %}
{% block content %}

	<style type="text/css">
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}

		th , td {
			padding: 10px;
		}

	</style>
      <table style="width: 100%">
        <tr bgcolor="#CBFFC5">
          <th>Nombre: </th>
          <th>Descripcion: </th>
          <th>Precio: </th>
          <th>Opciones: </th>
        </tr>
        {% for p in productos %}
        <tr bgcolor="white">
            <td>{{p.nombre}}</td>
            <td>{{p.descripcion}}</td>
            <td>{{p.precio}}</td>

            {% if user.is_authenticated %}
            <td style="text-align: center">
            	<a href="{% url 'modificar_producto' p.id %}">Modificar</a> 
                <a href="{% url 'eliminar_producto' p.id %} " onclick="return confirm('¿Estás seguro de querer eliminar este dato?')">Eliminar</a>
            </td>
            {% endif %}

        </tr>
        {% endfor %}
        </table>
    
  

{% endblock %}