{% extends 'base.html' %}
{% load static %}
{% block content %}


<main>

    <form action= "" method="POST" class="formulario">
        <center>    
                <h1>Login</h1>
                <h2 style="color: white">Iniciar sesión</h2>
            <div style="color:white">
                <form method="POST" style="color: white"> 
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button class="button" type="submit">Login</button>
                    <hr />
                    <br>

                            <a class="button" href="{% url 'registros' %}">Registrar usuario</a>
                            <br><br>
        </center>


    </form>
            
            
            
            </div>
    </form>









</main>


   
{% endblock %}